@import "../css/normalize.css";

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
}

.header {
    &__wrapper {
        padding: 30px;
    }

    &__logo {
        align-self: flex-start;
    }
    
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 1000px;
        }
    }

    &__item {
        margin-right: 20px;
        margin-bottom: 20px;

        &:last-child {
            margin-right: 0;
        }
        
        a {
            color: black;
            font-size: 25px;
            font-family: "Roboto", "Arial", sans-serif;
            font-style: normal;
            font-weight: 300;
        }
    }
}

.news {
    &__wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: space-between; 
        padding: 0;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: space-between;
        overflow: hidden;

        &__list {
            &-items {
                display: flex;
                flex-direction: row;
                justify-items: flex-start;
                transition: transform 1s ease-out;
            }

            &-points {
                position: absolute;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 15px 30px;
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 50px;
                width: 350px;
                height: 50px;
                left: 50%;
                bottom: 40px;
                transform: translateX(-50%);
            }
        }

        &-points--item {
            cursor: pointer;
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #C4C4C4;
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
        
        &__btn {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 15.13px;
            height: 26.48px;  
            background-color: transparent;  
            background-repeat: no-repeat;
            
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60px;
                height: 60px;
                border: 2px solid #C4C4C4;
                border-radius: 50%;
            }

            &-right {
                background-image: url(../svg/arrow-right.svg);
                right: -15px;
            }

            &-left {
                background-image: url(../svg/arrow-left.svg);
                left: -15px;
            }
        }

        &-item {
            width: 1366px;
            height: 768.38px;
            box-sizing: border-box;

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 1366px;
                height: 768.38px;
            }
        }
    }
}

.galaxyZFlip {
    background-image: url(../img/36Gy2aThDCQVXxbX7yyRtF.jpg);
}

.samsungWatch3 {
    background-image: url(../img/samsungWatch3.png);
}

.points--active {
    border: 2px solid #000000;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
}