.aboutPage {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 58px;
    color: #000;
    padding-bottom: 50px;
}